@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-imagen{
    
    background-image: url("./src/assets/img/asset2.jpeg");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    
}


